{
  "extends": ["eslint:recommended", "next/core-web-vitals"],
  "globals": {
    "globalThis": "readonly",
    "this": "readonly",
    "VoidFunction": "readonly"
  },
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  }
}
